USE [master]
GO
/****** Object:  Database [Polano]    Script Date: 25/07/2021 0:47:00 ******/
CREATE DATABASE [Polano]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Polano', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Polano.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Polano_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Polano_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Polano].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Polano]
GO
/****** Object:  Table [dbo].[Capacidades]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capacidades](
	[CapacidadID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Capacidad] [nvarchar](50) NULL,
 CONSTRAINT [PK_Capacidades] PRIMARY KEY CLUSTERED 
(
	[CapacidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[CiudadID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Ciudad] [nvarchar](70) NULL,
	[ProvinciaID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Ciudades] PRIMARY KEY CLUSTERED 
(
	[CiudadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientesDeMiel]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientesDeMiel](
	[ClienteID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[RazonSocial] [nvarchar](50) NULL,
	[Direccion] [nvarchar](50) NULL,
	[CiudadID] [numeric](18, 0) NULL,
	[CPostal] [numeric](18, 0) NULL,
	[Telefono] [numeric](18, 0) NULL,
	[Email] [nvarchar](50) NULL,
	[TipoDocumentoID] [numeric](18, 0) NULL,
	[NumeroDocumento] [numeric](18, 0) NULL,
 CONSTRAINT [PK_ClientesDeMiel] PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColmenaColmenares]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColmenaColmenares](
	[ColmenaID] [numeric](18, 0) NOT NULL,
	[ColmenarID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_ColmenaColmenares] PRIMARY KEY CLUSTERED 
(
	[ColmenaID] ASC,
	[ColmenarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colmenares]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colmenares](
	[ColmenarID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NombreColmenar] [nvarchar](50) NULL,
	[CiudadID] [numeric](18, 0) NULL,
	[CantidadColmena] [numeric](18, 0) NULL,
	[EstadoColmenaID] [numeric](18, 0) NULL,
	[InsumoID] [numeric](18, 0) NULL,
	[CantidadInsumo] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[ColmenarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colmenas]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colmenas](
	[ColmenaID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ClaveColmena] [nvarchar](50) NULL,
 CONSTRAINT [PK_Colmenas] PRIMARY KEY CLUSTERED 
(
	[ColmenaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[CompraID] [int] IDENTITY(1,1) NOT NULL,
	[ProveedorID] [numeric](18, 0) NULL,
	[Fecha] [datetime] NULL,
	[Total] [numeric](18, 2) NULL,
 CONSTRAINT [PK_Compras] PRIMARY KEY CLUSTERED 
(
	[CompraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprasInsumos]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprasInsumos](
	[CompraID] [int] NOT NULL,
	[InsumoID] [numeric](18, 0) NOT NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [numeric](18, 2) NULL,
 CONSTRAINT [PK_ComprasInsumos] PRIMARY KEY CLUSTERED 
(
	[CompraID] ASC,
	[InsumoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosColmenas]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosColmenas](
	[EstadoColmenaID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[EstadoColmena] [nvarchar](50) NULL,
 CONSTRAINT [PK_EstadosColmenas] PRIMARY KEY CLUSTERED 
(
	[EstadoColmenaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insumos]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumos](
	[InsumoID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Insumo] [nvarchar](50) NULL,
	[ProveedorID] [numeric](18, 0) NULL,
	[Cantidad] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Insumos] PRIMARY KEY CLUSTERED 
(
	[InsumoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[MarcaID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Marca] [nvarchar](50) NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[MarcaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mieles]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mieles](
	[MielID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Miel] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Miel] PRIMARY KEY CLUSTERED 
(
	[MielID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[PaisID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Pais] [nvarchar](70) NULL,
 CONSTRAINT [PK_Paises] PRIMARY KEY CLUSTERED 
(
	[PaisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ProductoID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TipoProductoID] [numeric](18, 0) NOT NULL,
	[MarcaID] [numeric](18, 0) NOT NULL,
	[Stock] [numeric](18, 0) NOT NULL,
	[Producto] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosDeProveedores]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosDeProveedores](
	[ProductoId] [numeric](18, 0) NULL,
	[ProveedorID] [numeric](18, 0) NULL,
	[Precio] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ProveedorID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Cuit] [numeric](18, 0) NULL,
	[RazonSocial] [nvarchar](70) NULL,
	[Direccion] [nvarchar](50) NULL,
	[CiudadID] [numeric](18, 0) NULL,
	[CPostal] [numeric](18, 0) NULL,
	[Telefono] [numeric](18, 0) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[ProveedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[ProvinciaID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Provincia] [nvarchar](70) NULL,
	[PaisID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Provincias] PRIMARY KEY CLUSTERED 
(
	[ProvinciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposDeProductos]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDeProductos](
	[TipoProductoId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TipoProducto] [nvarchar](70) NULL,
 CONSTRAINT [PK_TiposDeProductos] PRIMARY KEY CLUSTERED 
(
	[TipoProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposDocumentos]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDocumentos](
	[TipoDocumentoID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [nvarchar](50) NULL,
 CONSTRAINT [PK_TiposDocumentos_1] PRIMARY KEY CLUSTERED 
(
	[TipoDocumentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposEnvases]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposEnvases](
	[TipoEnvaseID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TipoEnvase] [nvarchar](50) NULL,
	[CapacidadID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_TiposDeEnvases] PRIMARY KEY CLUSTERED 
(
	[TipoEnvaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[VentaID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ClienteID] [numeric](18, 0) NULL,
	[Total] [numeric](18, 0) NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_VentasDeMiel] PRIMARY KEY CLUSTERED 
(
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VentasProductos]    Script Date: 25/07/2021 0:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentasProductos](
	[VentaID] [numeric](18, 0) NOT NULL,
	[Cantidad] [numeric](18, 0) NULL,
	[TipoEnvaseID] [numeric](18, 0) NULL,
	[Precio] [numeric](18, 0) NULL,
 CONSTRAINT [PK_VentasProductos_1] PRIMARY KEY CLUSTERED 
(
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Capacidades] ON 

INSERT [dbo].[Capacidades] ([CapacidadID], [Capacidad]) VALUES (CAST(5 AS Numeric(18, 0)), N'1')
INSERT [dbo].[Capacidades] ([CapacidadID], [Capacidad]) VALUES (CAST(7 AS Numeric(18, 0)), N'5')
INSERT [dbo].[Capacidades] ([CapacidadID], [Capacidad]) VALUES (CAST(8 AS Numeric(18, 0)), N'10')
SET IDENTITY_INSERT [dbo].[Capacidades] OFF
SET IDENTITY_INSERT [dbo].[Ciudades] ON 

INSERT [dbo].[Ciudades] ([CiudadID], [Ciudad], [ProvinciaID]) VALUES (CAST(3 AS Numeric(18, 0)), N'Lobos', CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[Ciudades] ([CiudadID], [Ciudad], [ProvinciaID]) VALUES (CAST(5 AS Numeric(18, 0)), N'Monte', CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[Ciudades] ([CiudadID], [Ciudad], [ProvinciaID]) VALUES (CAST(6 AS Numeric(18, 0)), N'Navarro', CAST(1 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[Ciudades] OFF
SET IDENTITY_INSERT [dbo].[ClientesDeMiel] ON 

INSERT [dbo].[ClientesDeMiel] ([ClienteID], [RazonSocial], [Direccion], [CiudadID], [CPostal], [Telefono], [Email], [TipoDocumentoID], [NumeroDocumento]) VALUES (CAST(1 AS Numeric(18, 0)), N'Leandro Polan', N'575 salvador mari', CAST(3 AS Numeric(18, 0)), CAST(7241 AS Numeric(18, 0)), CAST(222756389 AS Numeric(18, 0)), N'LeandroPolano@gmail.co', CAST(2 AS Numeric(18, 0)), CAST(4330330 AS Numeric(18, 0)))
INSERT [dbo].[ClientesDeMiel] ([ClienteID], [RazonSocial], [Direccion], [CiudadID], [CPostal], [Telefono], [Email], [TipoDocumentoID], [NumeroDocumento]) VALUES (CAST(4 AS Numeric(18, 0)), N'Bahiano Paoletti', N'Calle 5', CAST(3 AS Numeric(18, 0)), CAST(7242 AS Numeric(18, 0)), CAST(555555555 AS Numeric(18, 0)), N'bahi@g,com', CAST(2 AS Numeric(18, 0)), CAST(5151515151 AS Numeric(18, 0)))
INSERT [dbo].[ClientesDeMiel] ([ClienteID], [RazonSocial], [Direccion], [CiudadID], [CPostal], [Telefono], [Email], [TipoDocumentoID], [NumeroDocumento]) VALUES (CAST(5 AS Numeric(18, 0)), N'Alejo Polano', N'458 Salvador Maria', CAST(3 AS Numeric(18, 0)), CAST(7242 AS Numeric(18, 0)), CAST(555202351 AS Numeric(18, 0)), N'Alejo@gmail.com', CAST(2 AS Numeric(18, 0)), CAST(42252135 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[ClientesDeMiel] OFF
SET IDENTITY_INSERT [dbo].[Colmenares] ON 

INSERT [dbo].[Colmenares] ([ColmenarID], [NombreColmenar], [CiudadID], [CantidadColmena], [EstadoColmenaID], [InsumoID], [CantidadInsumo]) VALUES (CAST(13 AS Numeric(18, 0)), N'Marmo', CAST(3 AS Numeric(18, 0)), CAST(60 AS Numeric(18, 0)), CAST(10006 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[Colmenares] ([ColmenarID], [NombreColmenar], [CiudadID], [CantidadColmena], [EstadoColmenaID], [InsumoID], [CantidadInsumo]) VALUES (CAST(14 AS Numeric(18, 0)), N'Lopo Suerez', CAST(6 AS Numeric(18, 0)), CAST(60 AS Numeric(18, 0)), CAST(10009 AS Numeric(18, 0)), CAST(13 AS Numeric(18, 0)), CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[Colmenares] ([ColmenarID], [NombreColmenar], [CiudadID], [CantidadColmena], [EstadoColmenaID], [InsumoID], [CantidadInsumo]) VALUES (CAST(15 AS Numeric(18, 0)), N'Sipi Liñez', CAST(6 AS Numeric(18, 0)), CAST(60 AS Numeric(18, 0)), CAST(10007 AS Numeric(18, 0)), CAST(7 AS Numeric(18, 0)), CAST(5 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[Colmenares] OFF
SET IDENTITY_INSERT [dbo].[Colmenas] ON 

INSERT [dbo].[Colmenas] ([ColmenaID], [ClaveColmena]) VALUES (CAST(9 AS Numeric(18, 0)), N'Efh414')
SET IDENTITY_INSERT [dbo].[Colmenas] OFF
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([CompraID], [ProveedorID], [Fecha], [Total]) VALUES (2, CAST(3 AS Numeric(18, 0)), CAST(N'2021-07-24T19:56:35.483' AS DateTime), CAST(1560.00 AS Numeric(18, 2)))
INSERT [dbo].[Compras] ([CompraID], [ProveedorID], [Fecha], [Total]) VALUES (3, CAST(3 AS Numeric(18, 0)), CAST(N'2021-07-24T19:57:22.917' AS DateTime), CAST(500.00 AS Numeric(18, 2)))
INSERT [dbo].[Compras] ([CompraID], [ProveedorID], [Fecha], [Total]) VALUES (4, CAST(3 AS Numeric(18, 0)), CAST(N'2021-07-24T20:16:27.883' AS DateTime), CAST(5390.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[Compras] OFF
INSERT [dbo].[ComprasInsumos] ([CompraID], [InsumoID], [Cantidad], [PrecioUnitario]) VALUES (2, CAST(6 AS Numeric(18, 0)), 52, CAST(10.00 AS Numeric(18, 2)))
INSERT [dbo].[ComprasInsumos] ([CompraID], [InsumoID], [Cantidad], [PrecioUnitario]) VALUES (3, CAST(6 AS Numeric(18, 0)), 50, CAST(10.00 AS Numeric(18, 2)))
INSERT [dbo].[ComprasInsumos] ([CompraID], [InsumoID], [Cantidad], [PrecioUnitario]) VALUES (4, CAST(7 AS Numeric(18, 0)), 22, CAST(22.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[EstadosColmenas] ON 

INSERT [dbo].[EstadosColmenas] ([EstadoColmenaID], [EstadoColmena]) VALUES (CAST(2 AS Numeric(18, 0)), N'Hambre')
INSERT [dbo].[EstadosColmenas] ([EstadoColmenaID], [EstadoColmena]) VALUES (CAST(3 AS Numeric(18, 0)), N'Fumigacion')
INSERT [dbo].[EstadosColmenas] ([EstadoColmenaID], [EstadoColmena]) VALUES (CAST(10004 AS Numeric(18, 0)), N'Barroa')
SET IDENTITY_INSERT [dbo].[EstadosColmenas] OFF
SET IDENTITY_INSERT [dbo].[Insumos] ON 

INSERT [dbo].[Insumos] ([InsumoID], [Insumo], [ProveedorID], [Cantidad]) VALUES (CAST(1 AS Numeric(18, 0)), N'Alimento PROC', CAST(1 AS Numeric(18, 0)), CAST(50 AS Numeric(18, 0)))
INSERT [dbo].[Insumos] ([InsumoID], [Insumo], [ProveedorID], [Cantidad]) VALUES (CAST(6 AS Numeric(18, 0)), N'RocoPec', CAST(3 AS Numeric(18, 0)), CAST(260 AS Numeric(18, 0)))
INSERT [dbo].[Insumos] ([InsumoID], [Insumo], [ProveedorID], [Cantidad]) VALUES (CAST(7 AS Numeric(18, 0)), N'LozoMiel', CAST(5 AS Numeric(18, 0)), CAST(300 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[Insumos] OFF
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([MarcaID], [Marca]) VALUES (CAST(9 AS Numeric(18, 0)), N'Honey')
INSERT [dbo].[Marcas] ([MarcaID], [Marca]) VALUES (CAST(10 AS Numeric(18, 0)), N'Barroali')
INSERT [dbo].[Marcas] ([MarcaID], [Marca]) VALUES (CAST(11 AS Numeric(18, 0)), N'Plonix')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
SET IDENTITY_INSERT [dbo].[Paises] ON 

INSERT [dbo].[Paises] ([PaisID], [Pais]) VALUES (CAST(3 AS Numeric(18, 0)), N'Argentina')
INSERT [dbo].[Paises] ([PaisID], [Pais]) VALUES (CAST(4 AS Numeric(18, 0)), N'Chile')
INSERT [dbo].[Paises] ([PaisID], [Pais]) VALUES (CAST(6 AS Numeric(18, 0)), N'Estados Unidos')
SET IDENTITY_INSERT [dbo].[Paises] OFF
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([ProductoID], [TipoProductoID], [MarcaID], [Stock], [Producto]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(11 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(60 AS Numeric(18, 0)), N'Amibarroa')
INSERT [dbo].[Productos] ([ProductoID], [TipoProductoID], [MarcaID], [Stock], [Producto]) VALUES (CAST(4 AS Numeric(18, 0)), CAST(13 AS Numeric(18, 0)), CAST(9 AS Numeric(18, 0)), CAST(6 AS Numeric(18, 0)), N'Glucosa')
INSERT [dbo].[Productos] ([ProductoID], [TipoProductoID], [MarcaID], [Stock], [Producto]) VALUES (CAST(6 AS Numeric(18, 0)), CAST(13 AS Numeric(18, 0)), CAST(10012 AS Numeric(18, 0)), CAST(52 AS Numeric(18, 0)), N'MielMax')
SET IDENTITY_INSERT [dbo].[Productos] OFF
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([ProveedorID], [Cuit], [RazonSocial], [Direccion], [CiudadID], [CPostal], [Telefono], [Email]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(123456 AS Numeric(18, 0)), N'Leandro Polano', N'21 dddd', CAST(3 AS Numeric(18, 0)), CAST(7040 AS Numeric(18, 0)), CAST(22222222 AS Numeric(18, 0)), N'dddddd')
INSERT [dbo].[Proveedores] ([ProveedorID], [Cuit], [RazonSocial], [Direccion], [CiudadID], [CPostal], [Telefono], [Email]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(2025214685 AS Numeric(18, 0)), N'Jose Perez', N'Calle 20 565 ', CAST(3 AS Numeric(18, 0)), CAST(7241 AS Numeric(18, 0)), CAST(2227568457 AS Numeric(18, 0)), N'Jose@gmail.com')
INSERT [dbo].[Proveedores] ([ProveedorID], [Cuit], [RazonSocial], [Direccion], [CiudadID], [CPostal], [Telefono], [Email]) VALUES (CAST(4 AS Numeric(18, 0)), CAST(224576584 AS Numeric(18, 0)), N'Pedro Paez', N'Calle 50 45 ', CAST(5 AS Numeric(18, 0)), CAST(7240 AS Numeric(18, 0)), CAST(22275684895 AS Numeric(18, 0)), N'Pedro@gmail.com')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
SET IDENTITY_INSERT [dbo].[Provincias] ON 

INSERT [dbo].[Provincias] ([ProvinciaID], [Provincia], [PaisID]) VALUES (CAST(1 AS Numeric(18, 0)), N'BuenosAires', CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[Provincias] ([ProvinciaID], [Provincia], [PaisID]) VALUES (CAST(11 AS Numeric(18, 0)), N'Cordoba', CAST(3 AS Numeric(18, 0)))
INSERT [dbo].[Provincias] ([ProvinciaID], [Provincia], [PaisID]) VALUES (CAST(13 AS Numeric(18, 0)), N'Jujuy', CAST(3 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[Provincias] OFF
SET IDENTITY_INSERT [dbo].[TiposDeProductos] ON 

INSERT [dbo].[TiposDeProductos] ([TipoProductoId], [TipoProducto]) VALUES (CAST(11 AS Numeric(18, 0)), N'VenenoParaPlaga')
INSERT [dbo].[TiposDeProductos] ([TipoProductoId], [TipoProducto]) VALUES (CAST(12 AS Numeric(18, 0)), N'Remedio')
INSERT [dbo].[TiposDeProductos] ([TipoProductoId], [TipoProducto]) VALUES (CAST(13 AS Numeric(18, 0)), N'Alimento')
SET IDENTITY_INSERT [dbo].[TiposDeProductos] OFF
SET IDENTITY_INSERT [dbo].[TiposDocumentos] ON 

INSERT [dbo].[TiposDocumentos] ([TipoDocumentoID], [TipoDocumento]) VALUES (CAST(2 AS Numeric(18, 0)), N'DNI')
INSERT [dbo].[TiposDocumentos] ([TipoDocumentoID], [TipoDocumento]) VALUES (CAST(9 AS Numeric(18, 0)), N'Libreta')
INSERT [dbo].[TiposDocumentos] ([TipoDocumentoID], [TipoDocumento]) VALUES (CAST(10 AS Numeric(18, 0)), N'Carnet')
SET IDENTITY_INSERT [dbo].[TiposDocumentos] OFF
SET IDENTITY_INSERT [dbo].[TiposEnvases] ON 

INSERT [dbo].[TiposEnvases] ([TipoEnvaseID], [TipoEnvase], [CapacidadID]) VALUES (CAST(3 AS Numeric(18, 0)), N'Pote', CAST(5 AS Numeric(18, 0)))
INSERT [dbo].[TiposEnvases] ([TipoEnvaseID], [TipoEnvase], [CapacidadID]) VALUES (CAST(4 AS Numeric(18, 0)), N'Tarro', CAST(7 AS Numeric(18, 0)))
INSERT [dbo].[TiposEnvases] ([TipoEnvaseID], [TipoEnvase], [CapacidadID]) VALUES (CAST(5 AS Numeric(18, 0)), N'Tarro Grande', CAST(8 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[TiposEnvases] OFF
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([VentaID], [ClienteID], [Total], [Fecha]) VALUES (CAST(5 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(900 AS Numeric(18, 0)), CAST(N'2020-11-28T19:35:39.330' AS DateTime))
INSERT [dbo].[Ventas] ([VentaID], [ClienteID], [Total], [Fecha]) VALUES (CAST(6 AS Numeric(18, 0)), CAST(4 AS Numeric(18, 0)), CAST(1000 AS Numeric(18, 0)), CAST(N'2021-02-10T20:19:20.630' AS DateTime))
INSERT [dbo].[Ventas] ([VentaID], [ClienteID], [Total], [Fecha]) VALUES (CAST(7 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(1000 AS Numeric(18, 0)), CAST(N'2021-02-16T17:43:46.150' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ventas] OFF
INSERT [dbo].[VentasProductos] ([VentaID], [Cantidad], [TipoEnvaseID], [Precio]) VALUES (CAST(5 AS Numeric(18, 0)), CAST(5 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), CAST(100 AS Numeric(18, 0)))
INSERT [dbo].[VentasProductos] ([VentaID], [Cantidad], [TipoEnvaseID], [Precio]) VALUES (CAST(6 AS Numeric(18, 0)), CAST(5 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), CAST(200 AS Numeric(18, 0)))
INSERT [dbo].[VentasProductos] ([VentaID], [Cantidad], [TipoEnvaseID], [Precio]) VALUES (CAST(16 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), CAST(222 AS Numeric(18, 0)))
ALTER TABLE [dbo].[Ciudades] ADD  CONSTRAINT [DF_Ciudades_Ciudad]  DEFAULT ('') FOR [Ciudad]
GO
ALTER TABLE [dbo].[Ciudades]  WITH CHECK ADD  CONSTRAINT [FK_Ciudades_Provincias] FOREIGN KEY([ProvinciaID])
REFERENCES [dbo].[Provincias] ([ProvinciaID])
GO
ALTER TABLE [dbo].[Ciudades] CHECK CONSTRAINT [FK_Ciudades_Provincias]
GO
ALTER TABLE [dbo].[ClientesDeMiel]  WITH CHECK ADD  CONSTRAINT [FK_ClientesDeMiel_Ciudades] FOREIGN KEY([CiudadID])
REFERENCES [dbo].[Ciudades] ([CiudadID])
GO
ALTER TABLE [dbo].[ClientesDeMiel] CHECK CONSTRAINT [FK_ClientesDeMiel_Ciudades]
GO
ALTER TABLE [dbo].[ClientesDeMiel]  WITH CHECK ADD  CONSTRAINT [FK_ClientesDeMiel_TiposDocumentos] FOREIGN KEY([TipoDocumentoID])
REFERENCES [dbo].[TiposDocumentos] ([TipoDocumentoID])
GO
ALTER TABLE [dbo].[ClientesDeMiel] CHECK CONSTRAINT [FK_ClientesDeMiel_TiposDocumentos]
GO
ALTER TABLE [dbo].[ColmenaColmenares]  WITH CHECK ADD  CONSTRAINT [FK_ColmenaColmenares_Colmenares] FOREIGN KEY([ColmenarID])
REFERENCES [dbo].[Colmenares] ([ColmenarID])
GO
ALTER TABLE [dbo].[ColmenaColmenares] CHECK CONSTRAINT [FK_ColmenaColmenares_Colmenares]
GO
ALTER TABLE [dbo].[ColmenaColmenares]  WITH CHECK ADD  CONSTRAINT [FK_ColmenaColmenares_Colmenas] FOREIGN KEY([ColmenaID])
REFERENCES [dbo].[Colmenas] ([ColmenaID])
GO
ALTER TABLE [dbo].[ColmenaColmenares] CHECK CONSTRAINT [FK_ColmenaColmenares_Colmenas]
GO
ALTER TABLE [dbo].[Colmenares]  WITH CHECK ADD  CONSTRAINT [FK_Colmenares_Ciudades] FOREIGN KEY([CiudadID])
REFERENCES [dbo].[Ciudades] ([CiudadID])
GO
ALTER TABLE [dbo].[Colmenares] CHECK CONSTRAINT [FK_Colmenares_Ciudades]
GO
ALTER TABLE [dbo].[Colmenares]  WITH CHECK ADD  CONSTRAINT [FK_Colmenares_EstadosColmenas] FOREIGN KEY([EstadoColmenaID])
REFERENCES [dbo].[EstadosColmenas] ([EstadoColmenaID])
GO
ALTER TABLE [dbo].[Colmenares] CHECK CONSTRAINT [FK_Colmenares_EstadosColmenas]
GO
ALTER TABLE [dbo].[Colmenares]  WITH CHECK ADD  CONSTRAINT [FK_Colmenares_Insumos] FOREIGN KEY([InsumoID])
REFERENCES [dbo].[Insumos] ([InsumoID])
GO
ALTER TABLE [dbo].[Colmenares] CHECK CONSTRAINT [FK_Colmenares_Insumos]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedores] FOREIGN KEY([ProveedorID])
REFERENCES [dbo].[Proveedores] ([ProveedorID])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedores]
GO
ALTER TABLE [dbo].[ComprasInsumos]  WITH CHECK ADD  CONSTRAINT [FK_ComprasInsumos_Compras] FOREIGN KEY([CompraID])
REFERENCES [dbo].[Compras] ([CompraID])
GO
ALTER TABLE [dbo].[ComprasInsumos] CHECK CONSTRAINT [FK_ComprasInsumos_Compras]
GO
ALTER TABLE [dbo].[ComprasInsumos]  WITH CHECK ADD  CONSTRAINT [FK_ComprasInsumos_Insumos] FOREIGN KEY([InsumoID])
REFERENCES [dbo].[Insumos] ([InsumoID])
GO
ALTER TABLE [dbo].[ComprasInsumos] CHECK CONSTRAINT [FK_ComprasInsumos_Insumos]
GO
ALTER TABLE [dbo].[Insumos]  WITH CHECK ADD  CONSTRAINT [FK_Insumos_Proveedores] FOREIGN KEY([ProveedorID])
REFERENCES [dbo].[Proveedores] ([ProveedorID])
GO
ALTER TABLE [dbo].[Insumos] CHECK CONSTRAINT [FK_Insumos_Proveedores]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Marcas] FOREIGN KEY([MarcaID])
REFERENCES [dbo].[Marcas] ([MarcaID])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Marcas]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_TiposDeProductos] FOREIGN KEY([TipoProductoID])
REFERENCES [dbo].[TiposDeProductos] ([TipoProductoId])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_TiposDeProductos]
GO
ALTER TABLE [dbo].[ProductosDeProveedores]  WITH CHECK ADD  CONSTRAINT [FK_ProductosDeProveedores_Productos] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([ProductoID])
GO
ALTER TABLE [dbo].[ProductosDeProveedores] CHECK CONSTRAINT [FK_ProductosDeProveedores_Productos]
GO
ALTER TABLE [dbo].[ProductosDeProveedores]  WITH CHECK ADD  CONSTRAINT [FK_ProductosDeProveedores_Proveedores] FOREIGN KEY([ProveedorID])
REFERENCES [dbo].[Proveedores] ([ProveedorID])
GO
ALTER TABLE [dbo].[ProductosDeProveedores] CHECK CONSTRAINT [FK_ProductosDeProveedores_Proveedores]
GO
ALTER TABLE [dbo].[Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Proveedores_Ciudades] FOREIGN KEY([CiudadID])
REFERENCES [dbo].[Ciudades] ([CiudadID])
GO
ALTER TABLE [dbo].[Proveedores] CHECK CONSTRAINT [FK_Proveedores_Ciudades]
GO
ALTER TABLE [dbo].[Provincias]  WITH CHECK ADD  CONSTRAINT [FK_Provincias_Paises] FOREIGN KEY([PaisID])
REFERENCES [dbo].[Paises] ([PaisID])
GO
ALTER TABLE [dbo].[Provincias] CHECK CONSTRAINT [FK_Provincias_Paises]
GO
ALTER TABLE [dbo].[TiposEnvases]  WITH CHECK ADD  CONSTRAINT [FK_TiposDeEnvases_Capacidades] FOREIGN KEY([CapacidadID])
REFERENCES [dbo].[Capacidades] ([CapacidadID])
GO
ALTER TABLE [dbo].[TiposEnvases] CHECK CONSTRAINT [FK_TiposDeEnvases_Capacidades]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_ClientesDeMiel] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[ClientesDeMiel] ([ClienteID])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_ClientesDeMiel]
GO
ALTER TABLE [dbo].[VentasProductos]  WITH CHECK ADD  CONSTRAINT [FK_VentasProductos_TiposEnvases] FOREIGN KEY([TipoEnvaseID])
REFERENCES [dbo].[TiposEnvases] ([TipoEnvaseID])
GO
ALTER TABLE [dbo].[VentasProductos] CHECK CONSTRAINT [FK_VentasProductos_TiposEnvases]
GO
ALTER TABLE [dbo].[VentasProductos]  WITH CHECK ADD  CONSTRAINT [FK_VentasProductos_Ventas] FOREIGN KEY([VentaID])
REFERENCES [dbo].[Ventas] ([VentaID])
GO
ALTER TABLE [dbo].[VentasProductos] CHECK CONSTRAINT [FK_VentasProductos_Ventas]
GO
USE [master]
GO
